<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-{{site.color-scheme}}">

    {% include sidebar.html %}

    <button class="sidebar-toggle nav-menu-toggle"
      aria-label="Open navigation menu"
      aria-expanded="false"
      aria-controls="sidebar">
      <img src="{{ '/assets/house-solid.svg' | relative_url }}">
    </button>

    {% if page.layout == "narrative" or page.layout == "poem" or page.layout == "drama" %}
    <button class="sidebar-toggle chapter-menu-toggle"
      aria-label="Open chapter menu"
      aria-expanded="false"
      aria-controls="sidebar">
      <img src="{{ '/assets/book-solid.svg' | relative_url }}">
    </button>

    <button class="sidebar-toggle settings-menu-toggle"
      aria-label="Open settings menu"
      aria-expanded="false"
      aria-controls="sidebar">
      <img src="{{ '/assets/gear-solid.svg' | relative_url }}">
    </button>
    {% endif %}

    <!--  
      Wrap is the content to shift when toggling the sidebar. We wrap the content to avoid any CSS
      collisions with our real content.
    -->
      <header class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title | newline_to_br }}</a>
            <br><small>{{ site.tagline }}</small>
          </h3>
        </div>
      </header>

      <main class="container content" id="main">
        {{ content }}
      </main>
    </div>

    <script>

    // Highlight search Query
    var url = window.location.href;
      if (url.lastIndexOf("?q=") > 0) {
        // get the index of the parameter, add three (to account for length)
        var stringloc = url.lastIndexOf("?q=") + 3;
        // get the substring (query) and decode
        var searchquery = decodeURIComponent(url.substr(stringloc));
        // regex matches at beginning of line, end of line or word boundary, useful for poetry
        var regex = new RegExp("(?:^|\\b)(" + searchquery + ")(?:$|\\b)", "gim");
        // get, add mark and then set content
        var content = document.getElementById("main").innerHTML;
        document.getElementById("main").innerHTML = content.replace(regex, "<mark>$1</mark>");
      }

      // Support sidebar toggle
      (function(document) {
        var navToggle = document.querySelector('.nav-menu-toggle');
        var chapterToggle = document.querySelector('.chapter-menu-toggle');
        var settingsToggle = document.querySelector('.settings-menu-toggle');
        var sidebar = document.querySelector('#sidebar');
        var sidebarNavLink = document.querySelector('.sidebar-nav-item');
        var sidebarChapterLink = document.querySelector('.sidebar-chapter-item');
        var sidebarButton = document.querySelector('.sidebar-button');
        var checkbox = document.querySelector('#sidebar-checkbox');
        var main = document.querySelector('#main');

        // Toggle sidebar
        navToggle.addEventListener('click', function(e) {
          e.preventDefault();

          switch (checkbox.checked) {
            case true:
              if (sidebar.classList.contains("nav-menu")){
                checkbox.checked = !checkbox.checked;
                navToggle.setAttribute('aria-expanded', checkbox.checked);
                sidebar.setAttribute('aria-hidden', !checkbox.checked);
                break;
              } else {
                break;
              }
            case false:
              checkbox.checked = !checkbox.checked;
              navToggle.setAttribute('aria-expanded', checkbox.checked);
              sidebar.setAttribute('aria-hidden', !checkbox.checked);
              break;
          }

          sidebar.classList.remove("chapter-menu");
          sidebar.classList.remove("settings-menu");
          sidebar.classList.add("nav-menu");

          chapterToggle.classList.remove("active");
          settingsToggle.classList.remove("active");
          navToggle.classList.toggle("active");

          // Make sure we focus on the menu once it opens to aid tab navigation
          sidebarNavLink.focus();
        });

        chapterToggle.addEventListener('click', function(e) {
          e.preventDefault();

          switch (checkbox.checked) {
            case true:
              if (sidebar.classList.contains("chapter-menu")){
                checkbox.checked = !checkbox.checked;
                navToggle.setAttribute('aria-expanded', checkbox.checked);
                sidebar.setAttribute('aria-hidden', !checkbox.checked);
                break;
              } else {
                break;
              }
            case false:
              checkbox.checked = !checkbox.checked;
              navToggle.setAttribute('aria-expanded', checkbox.checked);
              sidebar.setAttribute('aria-hidden', !checkbox.checked);
              break;
          }

          sidebar.classList.remove("nav-menu");
          sidebar.classList.remove("settings-menu");
          sidebar.classList.add("chapter-menu");

          navToggle.classList.remove("active");
          settingsToggle.classList.remove("active");
          chapterToggle.classList.toggle("active");

          sidebarChapterLink.focus();
        });

        settingsToggle.addEventListener('click', function(e) {
          e.preventDefault();

          switch (checkbox.checked) {
            case true:
              if (sidebar.classList.contains("settings-menu")){
                checkbox.checked = !checkbox.checked;
                navToggle.setAttribute('aria-expanded', checkbox.checked);
                sidebar.setAttribute('aria-hidden', !checkbox.checked);
                break;
              } else {
                break;
              }
            case false:
              checkbox.checked = !checkbox.checked;
              navToggle.setAttribute('aria-expanded', checkbox.checked);
              sidebar.setAttribute('aria-hidden', !checkbox.checked);
              break;
          }
          
          sidebar.classList.remove("nav-menu");
          sidebar.classList.remove("chapter-menu");
          sidebar.classList.add("settings-menu");

          navToggle.classList.remove("active");
          chapterToggle.classList.remove("active");
          settingsToggle.classList.toggle("active");

          sidebarButton.focus();
        });

        // Toggle "hidden" class on the sidebar to aid tab navigation
        sidebar.addEventListener('transitionend', function() {sidebar.classList.toggle("hidden")});

        // Clicking anywhere outside the sidebar should close the menu
        main.addEventListener('click', function(e) {
          checkbox.checked = false;
          navToggle.setAttribute('aria-expanded', false);
          chapterToggle.setAttribute('aria-expanded', false);
          settingsToggle.setAttribute('aria-expanded', false);
          sidebar.setAttribute('aria-hidden', true);

          navToggle.classList.remove("active");
          chapterToggle.classList.remove("active");
          settingsToggle.classList.remove("active");
        })

      })(document);
    </script>

<!-- Facebook SDK for JavaScript -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '589495744558280',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  </body>
</html>
